
{% set left_logo_url = "http://your-domain-here.com" %}
{% set left_logo_image = "logo.png" %} # in /static
{% set left_logo_text = "Upload Sievee" %} 


{% set right_logo_url = "https://www.python.org" %}
{% set right_logo_image = "logo-right.png" %} # in /static
{% set right_logo_text = "Python powered" %} 


{% set intro_line_1 = "This is a demo of Upload Sievee (pronounced Upload CV). You can pretend to be applying for this position." %}
{% set intro_line_2 = "To continue with the application, fill in the following details and click on Next.<br><br>" %}


{% set information_text = "This application is divided into three main sections.\
                <br><ul> \
                <li>Compulsory questions (timed)</li>\
                <li>Optional questions (timed)</li>\
                <li>Optional questions (not-timed)</li>\
                </ul>\
                You can use this area to explain to the candidate about these sections and the sort of questions that would be asked.<br><br>\
                To start answering the compulsory questions, click on Next.</div><br><br><br>" %}


{% set basic_questions_header = "Compulsory questions" %}
{% set basic_questions_text = "These are basic questions you need to answer in order to be able to submit your CV. Try answering some questions incorrectly and see what happens. Incorrect questions would also affect the report at the end." %}


{% set extra_questions_header = "Optional timed questions" %}
{% set extra_questions_text = "These are extra questions that do not have fixed answers. Useful for open-ended technical questions that need to be timed." %}


{% set last_questions_header = "Optional untimed questions" %}
{% set last_questions_text = "These questions are not timed. Good chance to ask about the candidate and why they want to apply for this job." %}


{% set cv_upload_text = "Thank the candidate for going in so far. They will upload their CV here; you can upload a small garbage file." %}

{% set finished_text = "The application went through successfully. You would normally get an email with attachments containing whatever they uploaded, along with a report of how they answered the questions.<br><br>See the bottom of this page for a sample report." %}
